<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>学生一覧</h2>
	<form>
		<select id="entYear" name="entYear" >
      						<option value="">------------------------------------</option>
      						<option value="2022">2022年度入学</option>
      						<option value="2023">2023年度入学</option>
      						<option value="2024">2024年度入学</option>
      						<option value="2025">2025年度入学</option>
      						<option value="2026">2026年度入学</option>
      						<option value="2027">2027年度入学</option>
      						<option value="2028">2028年度入学</option>
      						<option value="2029">2029年度入学</option>
      						<option value="2030">2030年度入学</option>     						
    					</select>
	</form>
     <table class="table">
		 <thead>
			 <tr>
				 <th>入学年度</th>
				 <th>学生番号</th>
				 <th>学生名</th>
				 <th>クラス番号</th>
				 <th>在学中</th>
				 <th>学校コード</th>
				 </th>
			 </tr>
		 </thead>
		 <tbody>
			 <tr th:each="student : ${students}">
					<td th:text="${student.entYear}"></td>
	                <td th:text="${student.No}"></td>
	                <td th:text="${student.name}"></td>
					<td th:text="${student.classNum}"></td>
					<td th:text="${student.isAttend != null && student.isAttend ? '◯' : (student.isAttend != null && !student.isAttend ? '✕' : '✕')}"></td>
					<td th:text="${student.schoolCd}"></td>
					<td><a  class="btn btn-success" th:href="@{/studentedit-(id=*{student.id})}">編集</a></td>
			 </tr>
		 </tbody>
	 </table>
	 <a class="nav-link" th:href="@{'/'}"><p>topページに戻る</p></a>
</body>
</html>