<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>成績管理</title>
</head>
<body>
<h2>成績管理</h2>
<form th:action="@{testsignin}" method="post">

    <table>
        <tr>
            <th class="active">入学年度</th>
            <td>
                <select id="entYear" name="entYear">
                    <!-- 入学年度のオプション -->
                    	<option value="">------------------------------------</option>
      						<option value="2022">2022年度入学</option>
      						<option value="2023">2023年度入学</option>
      						<option value="2024">2024年度入学</option>
      						<option value="2025">2025年度入学</option>
      						<option value="2026">2026年度入学</option>
      						<option value="2027">2027年度入学</option>
      						<option value="2028">2028年度入学</option>
      						<option value="2029">2029年度入学</option>
      						<option value="2030">2030年度入学</option>
                </select>
            </td>
            
            
                    <th class="active">クラス番号</th>
                    <td>
                            <select id="classNum" name="classNum">
							<option value="">------------------------------------</option>
      						<option value="100">100クラス</option>
      						<option value="101">101クラス</option>
      						<option value="102">102クラス</option>
      						<option value="103">103</option>
      						<option value="104">104</option>
      						<option value="105">105</option>
      						<option value="106">106</option>
      						<option value="200">200</option>
      						<option value="201">201</option>								

               		</td>
               	
            
            <th class="active">科目</th>
            <td>
                <select id="isAttend" name="isAttend" >
                    <!-- 在学中フラグのオプション -->
      						<option value="">------------------------------------</option>
      						<option value="国語">国語</option>
      						<option value="数学">数学</option>
                </select>
            </td>
            
            <th class="active">回数</th>
            <td>
                <select id="isAttend" name="isAttend" >
                    <!-- 在学中フラグのオプション -->
      						<option value="">------------------------------------</option>
      						<option value="1">1</option>
      						<option value="2">2</option>
                </select>
            </td>
            
            <td>
                <button class="btn btn-primary" type="submit">検索</button>
            </td>
        </tr>
    </table>
</form>
<form th:action="@{'/testsignin'}" method="post">
	<table>
	<thead>
			 <tr>
				 <th>入学年度</th>
				 <th>クラス番号</th>
				 <th>学生番号</th>
				 <th>学生名</th>
				 <th>点数</th>

				 </th>
			 </tr>
		 </thead>
		 
		  <tbody>
			  
			    <tr th:each="test : ${test}">
					<td th:text="${test.student.entYear}"></td>
					<td th:text="${test.student.classNum}"></td>
					<td th:text="${test.student.No}"></td>
					<td th:text="${test.student.name}"></td>
					<td>
						<input type="hidden" id ="classNum" name="classNum" th:value="${test.student.classNum}">
                        <input type="text"id ="point" name="point" th:value="${test.point}"/>
                        
                    </td>
                    
				</tr>
        </tbody>
        	
	</table>
	<button class="btn btn-primary" type="submit">登録して終了</button>
			</form>
	 
		 <tbody>
			
	 <a class="nav-link" th:href="@{'/'}"><p>topページに戻る</p></a>
</body>
</html>